# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
.env

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
tmp/
.pytest_cache/

# Databases
*.db
*.sqlite3
instance/

# Secrets / keys
*.pem
*.key

# Lockfiles
Pipfile.lock
poetry.lock